# Data Engineering project: ML models

Import all the libraries:

In [68]:
import pandas as pd
import numpy as np
import nltk
import pickle
import string
import re
import os, sys
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
import unicodedata
import plotly.graph_objects as go
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Awn\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

## The dataset: IMDB dataset, review of movies

Import the dataset:

In [69]:
df = pd.read_csv("IMDB Dataset.csv")
df.head(15)

                                               review sentiment
0   One of the other reviewers has mentioned that ...  positive
1   A wonderful little production. <br /><br />The...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's "Love in the Time of Money" is...  positive
5   Probably my all-time favorite movie, a story o...  positive
6   I sure would like to see a resurrection of a u...  positive
7   This show was an amazing, fresh & innovative i...  negative
8   Encouraged by the positive comments about this...  negative
9   If you like original gut wrenching laughter yo...  positive
10  Phil the Alien is one of those quirky films wh...  negative
11  I saw this movie when I was about 12 when it c...  negative
12  So im not a big fan of Boll's work but then ag...  negative
13  The cast played Shakespeare.<br /><br />Shakes...  negative
14  This a fantastic movie of three prisoners who ...  positive

In [70]:
df.shape

(50000, 2)

We have 50000 reviews in the dataset.

In [71]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
review       50000 non-null object
sentiment    50000 non-null object
dtypes: object(2)
memory usage: 781.3+ KB

In [73]:
df['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

- We have 50% of reviews which are positive.
- We have 50% of reviews which are negative.

## Preprocessing part

Let's see a review :

In [74]:
df.loc[39]['review']

'After sitting through this pile of dung, my husband and I wondered whether it was actually the product of an experiment to see whether a computer program could produce a movie. It was that listless and formulaic. But the U.S. propaganda thrown in your face throughout the film proves--disappointingly--that it\'s the work of humans. Call me a conspiracy theorist, but quotes like, "We have to steal the Declaration of Independence to protect it" seem like ways to justify actions like the invasion of Iraq, etc. The fact that Nicholas Cage spews lines like, "I would never use the Declaration of Independence as a bargaining chip" with a straight face made me and my husband wonder whether the entire cast took Valium before shooting each scene. The "reasoning" behind each plot turn and new "clue" is truly ridiculous and impossible to follow. And there\'s also a bonus side plot of misogyny, with Dr. Whatever-Her-Name-Was being chided by all involved for "never shutting up." She\'s clearly in the movie only for looks, but they felt the need to slap a "Dr." title on her character to give her some gravity. At one point, Cage\'s character says, "Don\'t you ever shut up?" and the camera pans to her looking poutily down at her hands, like she\'s a child. Truly grotesque. The only benefit to this movie was that it\'s so astonishingly bad, you do get a few laughs out of it. The really scary thing is that a majority of the people watching the movie with us seemed to enjoy it. Creepy....'

We first remove all the special characters that appear when we load the dataset:

In [75]:
df['review'] = [entry.lower() for entry in df['review']]
df['review'] = df.review.str.replace("<br /><br />", " ")
df['review'] = df.review.str.replace("+", " ")
df['review'] = df.review.str.replace("--", " ")
df['review'] = df.review.str.replace("-", " ")
df['review'] = df.review.str.replace('\'', " ")
df['review'] = df.review.str.replace('"', " ")

We decided to remove all the punctuations:

In [76]:
def remove_punctuation(s):
    s = ''.join([i for i in s if i not in frozenset(string.punctuation)])
    return s

df['review']  = df['review'].apply(remove_punctuation)

In [77]:
df.loc[39]['review']

'after sitting through this pile of dung my husband and i wondered whether it was actually the product of an experiment to see whether a computer program could produce a movie it was that listless and formulaic but the us propaganda thrown in your face throughout the film proves disappointingly that it s the work of humans call me a conspiracy theorist but quotes like  we have to steal the declaration of independence to protect it  seem like ways to justify actions like the invasion of iraq etc the fact that nicholas cage spews lines like  i would never use the declaration of independence as a bargaining chip  with a straight face made me and my husband wonder whether the entire cast took valium before shooting each scene the  reasoning  behind each plot turn and new  clue  is truly ridiculous and impossible to follow and there s also a bonus side plot of misogyny with dr whatever her name was being chided by all involved for  never shutting up  she s clearly in the movie only for looks but they felt the need to slap a  dr  title on her character to give her some gravity at one point cage s character says  don t you ever shut up  and the camera pans to her looking poutily down at her hands like she s a child truly grotesque the only benefit to this movie was that it s so astonishingly bad you do get a few laughs out of it the really scary thing is that a majority of the people watching the movie with us seemed to enjoy it creepy'

In [84]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production  the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there s a family where a little boy ...  negative
4  petter mattei s  love in the time of money  is...  positive

Label encoding:

In [85]:
sentiment_map = {'positive':1, 'negative':0}

df['sentiment'] = df['sentiment'].map(sentiment_map)

All the positive review are represented with a 1, and all the negative ones with a 0.

In [86]:
df2= df.copy()
df2.head()

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production  the filming tec...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically there s a family where a little boy ...          0
4  petter mattei s  love in the time of money  is...          1

### Classification with 4 models: Naive Bayes, SVM, Random Forest, Logistic regression

Let's see which classifier has the best accuracy :

We split our data into 80/20 % groups of training/testing:

In [88]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(df2['review'],df2['sentiment'],test_size=0.2,random_state=42)

We vectorize the text:

In [89]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(df['review'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

### Naive Bayes

We fit the training dataset on the Naive Bayes classifier and get the accuricy score:

In [91]:
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,Train_Y)
predictions_NB = Naive.predict(Test_X_Tfidf)
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  85.31

### SVM

In [93]:
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)
predictions_SVM = SVM.predict(Test_X_Tfidf)
print("SVM Accuracy Score -> ",accuracy_score(Test_Y,predictions_SVM)*100)

SVM Accuracy Score ->  89.45

### Random Forest

In [112]:
from sklearn.ensemble import RandomForestClassifier

text_classifier = RandomForestClassifier(n_estimators=200, random_state=42)
text_classifier.fit(Train_X_Tfidf,Train_Y)
predictions = text_classifier.predict(Test_X_Tfidf)
print(accuracy_score(predictions,Test_Y))
print("SVM Accuracy Score -> ",accuracy_score(predictions,Test_Y)*100)

0.8569
SVM Accuracy Score ->  85.69

### Logistic regression

In [94]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=42)
clf.fit(Train_X_Tfidf,Train_Y)
y_pred =clf.predict(Test_X_Tfidf)
print("Logistic Regression Accuracy Score -> ",accuracy_score(y_pred, Test_Y)*100)

C:\Users\Awn\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

Logistic Regression Accuracy Score ->  89.68

All our models have an accuracy above 80%, which is good.

Let's use the pre-trained model VaderSentiment, which will be more efficient for our application.

### Vader Sentiment

In [95]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

score = SentimentIntensityAnalyzer()

In [96]:
df1 = df2.copy()
df1.head()

                                              review  sentiment
0  one of the other reviewers has mentioned that ...          1
1  a wonderful little production  the filming tec...          1
2  i thought this was a wonderful way to spend ti...          1
3  basically there s a family where a little boy ...          0
4  petter mattei s  love in the time of money  is...          1

We compute all the scores: Pos, Neg, Neu, compound.

In [97]:
df1['scores'] = df1['review'].apply(lambda review: score.polarity_scores(review))

df1.head()

,review,sentiment,scores
0,one of the other reviewers has mentioned that ...,1,"{'neg': 0.204, 'neu': 0.748, 'pos': 0.048, 'co..."
1,a wonderful little production the filming tec...,1,"{'neg': 0.054, 'neu': 0.76, 'pos': 0.186, 'com..."
2,i thought this was a wonderful way to spend ti...,1,"{'neg': 0.105, 'neu': 0.651, 'pos': 0.244, 'co..."
3,basically there s a family where a little boy ...,0,"{'neg': 0.136, 'neu': 0.782, 'pos': 0.082, 'co..."
4,petter mattei s love in the time of money is...,1,"{'neg': 0.052, 'neu': 0.791, 'pos': 0.157, 'co..."

In [99]:
df1['compound']  = df1['scores'].apply(lambda score_dict: score_dict['compound'])

In [98]:
df1['pos']  = df1['scores'].apply(lambda score_dict: score_dict['pos'])

In [100]:
df1['neg']  = df1['scores'].apply(lambda score_dict: score_dict['neg'])

In [101]:
df1['neu']  = df1['scores'].apply(lambda score_dict: score_dict['neu'])

In [102]:
df1.head()

,review,sentiment,scores,pos,compound,neg,neu
0,one of the other reviewers has mentioned that ...,1,"{'neg': 0.204, 'neu': 0.748, 'pos': 0.048, 'co...",0.048,-0.9951,0.204,0.748
1,a wonderful little production the filming tec...,1,"{'neg': 0.054, 'neu': 0.76, 'pos': 0.186, 'com...",0.186,0.9693,0.054,0.760
2,i thought this was a wonderful way to spend ti...,1,"{'neg': 0.105, 'neu': 0.651, 'pos': 0.244, 'co...",0.244,0.9813,0.105,0.651
3,basically there s a family where a little boy ...,0,"{'neg': 0.136, 'neu': 0.782, 'pos': 0.082, 'co...",0.082,-0.8858,0.136,0.782
4,petter mattei s love in the time of money is...,1,"{'neg': 0.052, 'neu': 0.791, 'pos': 0.157, 'co...",0.157,0.9766,0.052,0.791

As our dataset only told us if the review is positive or negative, we will use the compound score for our predictions:

In [103]:
df1['prediction'] = df1['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
df2= df1.copy()

In [104]:
df2.head()

,review,sentiment,scores,pos,compound,neg,neu,prediction
0,one of the other reviewers has mentioned that ...,1,"{'neg': 0.204, 'neu': 0.748, 'pos': 0.048, 'co...",0.048,-0.9951,0.204,0.748,neg
1,a wonderful little production the filming tec...,1,"{'neg': 0.054, 'neu': 0.76, 'pos': 0.186, 'com...",0.186,0.9693,0.054,0.760,pos
2,i thought this was a wonderful way to spend ti...,1,"{'neg': 0.105, 'neu': 0.651, 'pos': 0.244, 'co...",0.244,0.9813,0.105,0.651,pos
3,basically there s a family where a little boy ...,0,"{'neg': 0.136, 'neu': 0.782, 'pos': 0.082, 'co...",0.082,-0.8858,0.136,0.782,neg
4,petter mattei s love in the time of money is...,1,"{'neg': 0.052, 'neu': 0.791, 'pos': 0.157, 'co...",0.157,0.9766,0.052,0.791,pos

In [105]:
from sklearn.metrics import accuracy_score

Label encoding:

In [106]:
prediction_map = {'pos':1, 'neg':0}

df2['prediction'] = df2['prediction'].map(prediction_map)

We have this dataframe with all the VaderSentiment scores and the predictions:

In [107]:
df2

,review,sentiment,scores,pos,compound,neg,neu,prediction
0,one of the other reviewers has mentioned that ...,1,"{'neg': 0.204, 'neu': 0.748, 'pos': 0.048, 'co...",0.048,-0.9951,0.204,0.748,0
1,a wonderful little production the filming tec...,1,"{'neg': 0.054, 'neu': 0.76, 'pos': 0.186, 'com...",0.186,0.9693,0.054,0.760,1
2,i thought this was a wonderful way to spend ti...,1,"{'neg': 0.105, 'neu': 0.651, 'pos': 0.244, 'co...",0.244,0.9813,0.105,0.651,1
3,basically there s a family where a little boy ...,0,"{'neg': 0.136, 'neu': 0.782, 'pos': 0.082, 'co...",0.082,-0.8858,0.136,0.782,0
4,petter mattei s love in the time of money is...,1,"{'neg': 0.052, 'neu': 0.791, 'pos': 0.157, 'co...",0.157,0.9766,0.052,0.791,1
5,probably my all time favorite movie a story of...,1,"{'neg': 0.017, 'neu': 0.761, 'pos': 0.222, 'co...",0.222,0.9828,0.017,0.761,1
6,i sure would like to see a resurrection of a u...,1,"{'neg': 0.024, 'neu': 0.85, 'pos': 0.126, 'com...",0.126,0.9403,0.024,0.850,1
7,this show was an amazing fresh innovative ide...,0,"{'neg': 0.146, 'neu': 0.642, 'pos': 0.213, 'co...",0.213,0.9302,0.146,0.642,1
8,encouraged by the positive comments about this...,0,"{'neg': 0.168, 'neu': 0.657, 'pos': 0.174, 'co...",0.174,0.2362,0.168,0.657,1
9,if you like original gut wrenching laughter yo...,1,"{'neg': 0.092, 'neu': 0.478, 'pos': 0.43, 'com...",0.430,0.9432,0.092,0.478,1
10,phil the alien is one of those quirky films wh...,0,"{'neg': 0.066, 'neu': 0.652, 'pos': 0.282, 'co...",0.282,0.9755,0.066,0.652,1
11,i saw this movie when i was about 12 when it c...,0,"{'neg': 0.106, 'neu': 0.772, 'pos': 0.122, 'co...",0.122,0.4425,0.106,0.772,1
12,so im not a big fan of boll s work but then ag...,0,"{'neg': 0.159, 'neu': 0.716, 'pos': 0.125, 'co...",0.125,-0.9618,0.159,0.716,0
13,the cast played shakespeare shakespeare lost i...,0,"{'neg': 0.129, 'neu': 0.718, 'pos': 0.153, 'co...",0.153,0.2627,0.129,0.718,1
14,this a fantastic movie of three prisoners who ...,1,"{'neg': 0.189, 'neu': 0.649, 'pos': 0.163, 'co...",0.163,-0.1444,0.189,0.649,0
15,kind of drawn in by the erotic scenes only to ...,0,"{'neg': 0.147, 'neu': 0.759, 'pos': 0.094, 'co...",0.094,-0.8591,0.147,0.759,0
16,some films just simply should not be remade th...,1,"{'neg': 0.113, 'neu': 0.761, 'pos': 0.127, 'co...",0.127,0.3506,0.113,0.761,1
17,this movie made it into one of my top 10 most ...,0,"{'neg': 0.201, 'neu': 0.767, 'pos': 0.032, 'co...",0.032,-0.9881,0.201,0.767,0
18,i remember this filmit was the first film i ha...,1,"{'neg': 0.044, 'neu': 0.872, 'pos': 0.084, 'co...",0.084,0.6518,0.044,0.872,1
19,an awful film it must have been up against som...,0,"{'neg': 0.077, 'neu': 0.771, 'pos': 0.152, 'co...",0.152,0.9072,0.077,0.771,1
20,after the success of die hard and it s sequels...,1,"{'neg': 0.136, 'neu': 0.678, 'pos': 0.186, 'co...",0.186,0.9772,0.136,0.678,1
21,i had the terrible misfortune of having to vie...,0,"{'neg': 0.208, 'neu': 0.706, 'pos': 0.086, 'co...",0.086,-0.9779,0.208,0.706,0
22,what an absolutely stunning movie if you have ...,1,"{'neg': 0.065, 'neu': 0.766, 'pos': 0.169, 'co...",0.169,0.7625,0.065,0.766,1
23,first of all let s get a few things straight h...,0,"{'neg': 0.109, 'neu': 0.726, 'pos': 0.165, 'co...",0.165,0.9358,0.109,0.726,1
24,this was the worst movie i saw at worldfest an...,0,"{'neg': 0.103, 'neu': 0.786, 'pos': 0.111, 'co...",0.111,0.0948,0.103,0.786,1
25,the karen carpenter story shows a little more ...,1,"{'neg': 0.108, 'neu': 0.66, 'pos': 0.232, 'com...",0.232,0.9540,0.108,0.660,1
26,the cell is an exotic masterpiece a dizzying...,1,"{'neg': 0.084, 'neu': 0.736, 'pos': 0.18, 'com...",0.180,0.9963,0.084,0.736,1
27,this film tried to be too many things all at o...,0,"{'neg': 0.181, 'neu': 0.673, 'pos': 0.146, 'co...",0.146,-0.7964,0.181,0.673,0
28,this movie was so frustrating everything seeme...,0,"{'neg': 0.237, 'neu': 0.585, 'pos': 0.178, 'co...",0.178,-0.9119,0.237,0.585,0
29,war movie is a hollywood genre that has been...,1,"{'neg': 0.175, 'neu': 0.723, 'pos': 0.102, 'co...",0.102,-0.9904,0.175,0.723,0
...,...,...,...,...,...,...,...,...
49970,this movie is a total dog i found myself strai...,0,"{'neg': 0.096, 'neu': 0.766, 'pos': 0.137, 'co...",0.137,0.6748,0.096,0.766,1
49971,with several name actors lance henrikson david...,0,"{'neg': 0.102, 'neu': 0.826, 'pos': 0.072, 'co...",0.072,-0.5719,0.102,0.826,0
49972,the future of fantasy never looked so dark chr...,0,"{'neg': 0.094, 'neu': 0.808, 'pos': 0.098, 'co...",0.098,-0.5982,0.094,0.808,0
49973,the title leads viewers to believe that this i...,0,"{'neg': 0.162, 'neu': 0.697, 'pos': 0.14, 'com...",0.140,-0.6591,0.162,0.697,0
49974,for the most part michael is a disaster  te...,0,"{'neg': 0.106, 'neu': 0.711, 'pos': 0.184, 'co...",0.184,0.8979,0.106,0.711,1
49975,90 minutes of mindymindy is a tease to boyfrie...,0,"{'neg': 0.077, 'neu': 0.819, 'pos': 0.103, 'co...",0.103,0.6530,0.077,0.819,1
49976,i saw the movie in the theater at its release ...,1,"{'neg': 0.038, 'neu': 0.824, 'pos': 0.138, 'co...",0.138,0.9703,0.038,0.824,1
49977,dog bite dog isn t going to be for everyone bu...,1,"{'neg': 0.114, 'neu': 0.711, 'pos': 0.175, 'co...",0.175,0.9778,0.114,0.711,1
49978,halloween is one of those movies that gets you...,1,"{'neg': 0.096, 'neu': 0.829, 'pos': 0.075, 'co...",0.075,-0.7863,0.096,0.829,0
49979,i saw this with high expectations come on it i...,0,"{'neg': 0.09, 'neu': 0.693, 'pos': 0.217, 'com...",0.217,0.9889,0.090,0.693,1
49980,a stunning film of high quality apparently bas...,1,"{'neg': 0.083, 'neu': 0.754, 'pos': 0.163, 'co...",0.163,0.9553,0.083,0.754,1
49981,and i repeat please do not see this movie this...,0,"{'neg': 0.097, 'neu': 0.695, 'pos': 0.208, 'co...",0.208,0.9989,0.097,0.695,1
49982,to be hones i used to like this show and watch...,0,"{'neg': 0.135, 'neu': 0.701, 'pos': 0.164, 'co...",0.164,0.8336,0.135,0.701,1
49983,i loved it having been a fan of the original s...,1,"{'neg': 0.03, 'neu': 0.773, 'pos': 0.197, 'com...",0.197,0.9584,0.030,0.773,1
49984,hello it is i derrick cannon and i welcome you...,0,"{'neg': 0.075, 'neu': 0.831, 'pos': 0.094, 'co...",0.094,0.8124,0.075,0.831,1
49985,imaginary heroes is clearly the best film of t...,1,"{'neg': 0.049, 'neu': 0.675, 'pos': 0.276, 'co...",0.276,0.9953,0.049,0.675,1
49986,this movie is a disgrace to the major league f...,0,"{'neg': 0.03, 'neu': 0.757, 'pos': 0.213, 'com...",0.213,0.9754,0.030,0.757,1
49987,a remake of alejandro amenabar s abre los ojos...,0,"{'neg': 0.095, 'neu': 0.764, 'pos': 0.141, 'co...",0.141,0.7579,0.095,0.764,1
49988,when i first tuned in on this morning news i t...,0,"{'neg': 0.098, 'neu': 0.707, 'pos': 0.194, 'co...",0.194,0.9876,0.098,0.707,1
49989,i got this one a few weeks ago and love it it ...,1,"{'neg': 0.036, 'neu': 0.705, 'pos': 0.259, 'co...",0.259,0.9935,0.036,0.705,1
49990,lame lame lame a 90 minute cringe fest that s ...,0,"{'neg': 0.275, 'neu': 0.676, 'pos': 0.048, 'co...",0.048,-0.9878,0.275,0.676,0
49991,les visiteurs the first movie about the mediev...,0,"{'neg': 0.077, 'neu': 0.778, 'pos': 0.145, 'co...",0.145,0.9625,0.077,0.778,1
49992,john garfield plays a marine who is blinded by...,1,"{'neg': 0.15, 'neu': 0.76, 'pos': 0.09, 'compo...",0.090,-0.8885,0.150,0.760,0
49993,robert colomb has two full time jobs he s know...,0,"{'neg': 0.108, 'neu': 0.742, 'pos': 0.15, 'com...",0.150,0.9746,0.108,0.742,1
49994,this is your typical junk comedy there are alm...,0,"{'neg': 0.31, 'neu': 0.521, 'pos': 0.17, 'comp...",0.170,-0.9658,0.310,0.521,0
49995,i thought this movie did a down right good job...,1,"{'neg': 0.02, 'neu': 0.745, 'pos': 0.235, 'com...",0.235,0.9942,0.020,0.745,1
49996,bad plot bad dialogue bad acting idiotic direc...,0,"{'neg': 0.166, 'neu': 0.706, 'pos': 0.128, 'co...",0.128,-0.5912,0.166,0.706,0
49997,i am a catholic taught in parochial elementary...,0,"{'neg': 0.203, 'neu': 0.671, 'pos': 0.127, 'co...",0.127,-0.9789,0.203,0.671,0
49998,i m going to have to disagree with the previou...,0,"{'neg': 0.117, 'neu': 0.801, 'pos': 0.081, 'co...",0.081,-0.8657,0.117,0.801,0
49999,no one expects the star trek movies to be high...,0,"{'neg': 0.113, 'neu': 0.718, 'pos': 0.17, 'com...",0.170,0.8910,0.113,0.718,1

In [108]:
predict= df2['prediction']
sent= df2['sentiment']

Let's see the accuracy of VaderSentiment model:

In [111]:
print("Accuracy Score of the Vader model: {0:.2%}".format(accuracy_score(predict, sent)))

Accuracy Score of the Vader model: 69.23%

As the dataset have only positive or negative sentiment and the vaderSentiment model take in account the neutral sentiment too, these differencies can explain our accuracy, which is less than previous models. 

However, for our application, we will use the vaderSentiment model as it was one of the requirements: Tell if a sentence is positive, neutral or negative.